@use "sass:math"

.wrapper
    justify-self: stretch
    align-self: stretch
    flex: 1
    display: flex
    justify-content: center
    position: relative

.line
    height: 100%
    width: 1px
    background-color: var(--skripsi-proto-divider)

.compareWrapper
    $totalPadding: 10px
    position: absolute
    justify-self: center
    align-self: center
    text-align: center
    background: var(--skripsi-proto-bg-header)
    padding-block: $totalPadding
    .compareText
        padding-block: math.div($totalPadding, 2) math.div($totalPadding, 2)
        padding-inline: $totalPadding
        font-size: 20px
        color: var(--skripsi-proto-compare-text)
    .modeText
        padding-bottom: math.div($totalPadding, 2) math.div($totalPadding, 2)
        padding-inline: $totalPadding
        font-size: 10px
        color: var(--skripsi-proto-compare-text)
